<form>
    <div class="form-group">
      <label for="Input1">Your Name</label>
      <input type="text" class="form-control" id="Input1" placeholder="names">
    </div>
    <div class="form-group">
      <label for="ControlSelect1">Meal Type</label>
      <select class="form-control" id="Select1">
        <option>Breakfast</option>
        <option>Lunch</option>
        <option>Dinner</option>
        <option>Snacks</option>
      </select>
    </div>
    <div class="row-form">
        <div class="col-form">
          <label for="ControlSelect1">Meals above 500 Calories</label> 
          <select  class="form-control">
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
            <option>Snacks</option>
          </select>
        </div>
        <div class="col-form">
            <label for="ControlSelect1">Meals below 500 Calories</label>
            <select class="form-control">
             <option>Breakfast</option>
             <option>Lunch</option>
             <option>Dinner</option>
             <option>Snacks</option>
            </select> 
        </div>
      </div>
